---
version: "3.7"
services:
  gitlab:
    image: {{ gitlab_image }}
    hostname: gitlab
    volumes:
      - type: volume
        source: config
        target: /etc/gitlab
      - type: bind
        source: ./gitlab.rb
        target: /etc/gitlab/gitlab.rb
{% if gitlab_email_smtp_ca_cert is defined %}
      - type: bind
        source: ./smtp.crt.pem
        target: /etc/ssl/certs/smtp.crt.pem
{% endif %}
{% if gitlab_https_enable %}
      - type: bind
        source: ./https/
        target: /etc/gitlab/ssl/
{% endif %}
      - type: volume
        source: data
        target: /var/opt/gitlab
      - type: volume
        source: log
        target: /var/log/gitlab
    networks:
      - bridge
    ports:
      - protocol: tcp
{% if gitlab_web_port is defined %}
        target: {{ gitlab_web_port }}
        published: {{ gitlab_web_port }}
{% else %}
    {% if gitlab_https_enable %}
        target: 443
        published: 443
    {% else %}
        target: 80
        published: 80
    {% endif %}
{% endif %}
      - protocol: tcp
        target: 22
{% if gitlab_ssh_port is defined %}
        published: {{ gitlab_ssh_port }}
{% else %}
        published: 22
{% endif %}
      - protocol: tcp
        target: {{ gitlab_registry_port }}
        published: {{ gitlab_registry_port }}
{% if gitlab_restart_policy is defined %}
    restart: {{ gitlab_restart_policy }}
{% endif %}
volumes:
  config:
  data:
  log:
networks:
  bridge:
    driver: bridge
