{{ gitlab_backup_cron_minute|mandatory }} {{ gitlab_backup_cron_hour|mandatory }} {{ gitlab_backup_cron_day_of_month }} {{ gitlab_backup_cron_month }} {{ gitlab_backup_cron_day_of_week }} root /usr/local/bin/gitlab-backup-wrapper
