{% if gitlab_backup_cron_docker_cmd is defined %}
DOCKER_CMD={{ gitlab_backup_cron_docker_cmd }}
{% endif %}
{% if gitlab_backup_cron_docker_compose_cmd is defined %}
DOCKER_COMPOSE_CMD={{ gitlab_backup_cron_docker_compose_cmd }}
{% endif %}
{{ gitlab_backup_cron_minute|mandatory }} {{ gitlab_backup_cron_hour|mandatory }} {{ gitlab_backup_cron_day_of_month }} {{ gitlab_backup_cron_month }} {{ gitlab_backup_cron_day_of_week }} root /usr/local/bin/gitlab-backup-wrapper
